Cilium 1.16.5 makes link-local address unreachable from pod's network

### Is there an existing issue for this?

- [x] I have searched the existing issues

### Version

equal or higher than v1.16.4 and lower than v1.17.0

### What happened?

After upgrading cilium to 1.16.5 with `bpf.masquerade=true`, all communication to node-local-dns were timeout.

```
❯ kubectl exec -i -t dnsutils -- nslookup kubernetes.default
;; connection timed out; no servers could be reached


command terminated with exit code 1
```

The node-local-dns is configured by kubespray. It listens link-local address (`169.254.25.10`), and its address is written in `resolv.conf` in Pods as nameserver.

```
❯ kubectl exec -ti dnsutils -- cat /etc/resolv.conf
search default.svc.cluster.local svc.cluster.local cluster.local flets-east.jp iptvf.jp
nameserver 169.254.25.10
options ndots:5

❯ ssh ubuntu@$WORKER_IPADDR ip a show dev nodelocaldns
3: nodelocaldns: <BROADCAST,NOARP> mtu 1500 qdisc noop state DOWN group default
    link/ether 6e:a5:52:ac:8a:b2 brd ff:ff:ff:ff:ff:ff
    inet 169.254.25.10/32 scope global nodelocaldns
       valid_lft forever preferred_lft forever
```

Looks like a similar problem to #35153 , but it worked up to 1.16.4 as far as I have tried in my reproduction environment even if `bpf.masquerade=true`.

### How can we reproduce the issue?

Setup VMs to setup kubernetes cluster by kubespray. Multipass is used here. But it can be other tool.

```bash
# Useful for ssh
GITHUB_USER=your GitHub user name to import public keys

cat << EOF > cloud-config.yaml
allow_public_ssh_keys: true
ssh_import_id: ["gh:${GITHUB_USER}"]
EOF

multipass launch \
  --name k8s-master \
  --memory 2G \
  --disk 30G \
  --cloud-init cloud-config.yaml \
  24.04

multipass launch \
  --name k8s-worker \
  --memory 2G \
  --disk 30G \
  --cloud-init cloud-config.yaml \
  24.04
```

Setup cluster by kubespray with node-local-dns.

```bash
mkdir -p inventory/multipass
MASTER_IPADDR=$(multipass info --format json| jq -r '.info | to_entries[] | select(.key == "k8s-master") | .value.ipv4[]')
WORKER_IPADDR=$(multipass info --format json| jq -r '.info | to_entries[] | select(.key == "k8s-worker") | .value.ipv4[]')

cat << EOF > inventory/multipass/hosts.yaml
all:
  hosts:
    k8s-master:
      ansible_user: ubuntu
      ansible_host: ${MASTER_IPADDR}
      ip: ${MASTER_IPADDR}
      access_ip: ${MASTER_IPADDR}
    k8s-worker:
      ansible_user: ubuntu
      ansible_host: ${WORKER_IPADDR}
      ip: ${WORKER_IPADDR}
      access_ip: ${WORKER_IPADDR}
  children:
    kube_control_plane:
      hosts:
        k8s-master:
    kube_node:
      hosts:
        k8s-master:
        k8s-worker:
    etcd:
      hosts:
        k8s-master:
    k8s_cluster:
      children:
        kube_control_plane:
        kube_node:
EOF

# Check connectivity
docker run --rm  -it \
  --mount type=tmpfs,dst=/.ansible \
  --mount type=bind,source=$(pwd)/inventory,dst=/kubeproxy/inventory \
  --mount type=bind,source=${HOME}/.ssh/id_ed25519,dst=/root/.ssh/id_rsa \
  quay.io/kubespray/kubespray:v2.26.0 \
  ansible -i /kubeproxy/inventory/multipass/hosts.yaml -m ping all


mkdir -p inventory/multipass/group_vars
cat << EOF > inventory/multipass/group_vars/all.yaml
---
kube_version: v1.30.4
container_manager: containerd

# cilium is installed by helm later.
kube_network_plugin: cni
kube_proxy_remove: true

kubeconfig_localhost: true

dns_mode: coredns

# Enable node-local-dns
enable_nodelocaldns: true
# Default address of node-local-dns
nodelocaldns_ip: 169.254.25.10
EOF

# Setup cluster. This may take several minutes.
docker run --rm \
  --mount type=tmpfs,dst=/.ansible \
  --mount type=bind,source=$(pwd)/inventory,dst=/kubeproxy/inventory \
  --mount type=bind,source=${HOME}/.ssh/id_ed25519,dst=/root/.ssh/id_rsa \
  quay.io/kubespray/kubespray:v2.26.0 \
  ansible-playbook -i /kubeproxy/inventory/multipass/hosts.yaml --become cluster.yml

# Setup KUBECONFIG
export KUBECONFIG=$KUBECONFIG:$(pwd)/inventory/multipass/artifacts/admin.conf
```

Install cilium by helm

```bash
cat << EOF > cilium-values.yaml
k8sServiceHost: ${MASTER_IPADDR}
k8sServicePort: 6443
kubeProxyReplacement: true
ipam:
  mode: kubernetes
securityContext:
  privileged: true
# Required
bpf:
  masquerade: true
EOF

helm install cilium cilium/cilium \
  --version 1.16.5 \
  --values cilium-values.yaml \
  --namespace kube-system

kubectl wait --timeout=90s --for=condition=Ready -n kube-system \
  pods -l k8s-app=cilium

# Recreate some containers
kubectl get pods \
  --all-namespaces \
  -o custom-columns=NAMESPACE:.metadata.namespace,NAME:.metadata.name,HOSTNETWORK:.spec.hostNetwork \
  --no-headers=true \
  | grep '<none>' \
  | awk '{print "-n "$1" "$2}' \
  | xargs -L 1 -r kubectl delete pod
```

Deploy pod contains dns utilities.

```bash
cat << EOF > dnsutils.yaml
apiVersion: v1
kind: Pod
metadata:
  name: dnsutils
  namespace: default
spec:
  containers:
  - name: dnsutils
    image: registry.k8s.io/e2e-test-images/agnhost:2.39
    imagePullPolicy: IfNotPresent
  restartPolicy: Always
EOF
kubectl apply -f dnsutils.yaml
```

nslookup will be timeout.

```bash
kubectl exec -i -t dnsutils -- nslookup kubernetes.default
```

nslookup using CoreDNS ClusterIP should succeeds.

```bash
kubectl exec -i -t dnsutils -- nslookup kubernetes.default $(kubectl get svc coredns -n kube-system -o jsonpath={.spec.clusterIP})
```

### Cilium Version

```
❯ kubectl -n kube-system exec ds/cilium -- cilium version
Defaulted container "cilium-agent" out of: cilium-agent, config (init), mount-cgroup (init), apply-sysctl-overwrites (init), clean-cilium-state (init), install-cni-binaries (init)
Client: 1.16.5 ad688277 2024-12-12T20:18:31+00:00 go version go1.22.10 linux/arm64
Daemon: 1.16.5 ad688277 2024-12-12T20:18:31+00:00 go version go1.22.10 linux/arm64
```

It also occurred on amd64.

### Kernel Version

```
Linux k8s-worker 6.8.0-49-generic #49-Ubuntu SMP PREEMPT_DYNAMIC Sun Nov  3 21:21:58 UTC 2024 aarch64 aarch64 aarch64 GNU/Linux
```

### Kubernetes Version

```
Client Version: v1.32.0
Kustomize Version: v5.5.0
Server Version: v1.30.4
```

### Regression

o: works well
x: not works

1.15.11: o
1.15.12: o
1.16.0: o
1.16.4: o
1.16.5: x

### Sysdump

_No response_

### Relevant log output

```shell

```

### Anything else?

`ipMasqAgent` enabled with `masqLinkLocal: false` did not help.

Result of `hubble observe` is as follows.
When it works:

```
❯ kubectl exec -ti pod/$(./k8s-get-cilium-pod.sh dnsutils default) -n kube-system -c cilium-agent \
  -- hubble observe --since 1m --pod default/dnsutils
Dec 22 07:51:41.852: 127.0.0.1:39065 (world) <> default/dnsutils (ID:32060) pre-xlate-rev TRACED (UDP)
Dec 22 07:51:41.852: default/dnsutils:50642 (ID:32060) -> 169.254.25.10:53 (world) to-stack FORWARDED (UDP)
Dec 22 07:51:41.853: default/dnsutils:50642 (ID:32060) <- 169.254.25.10:53 (world) to-endpoint FORWARDED (UDP)
Dec 22 07:51:41.853: 169.254.25.10:53 (world) <> default/dnsutils (ID:32060) pre-xlate-rev TRACED (UDP)
Dec 22 07:51:41.853: default/dnsutils:60221 (ID:32060) -> 169.254.25.10:53 (world) to-stack FORWARDED (UDP)
Dec 22 07:51:41.853: default/dnsutils:60221 (ID:32060) <- 169.254.25.10:53 (world) to-endpoint FORWARDED (UDP)
Dec 22 07:51:41.853: 169.254.25.10:53 (world) <> default/dnsutils (ID:32060) pre-xlate-rev TRACED (UDP)
Dec 22 07:51:41.855: default/dnsutils:51283 (ID:32060) -> 169.254.25.10:53 (world) to-stack FORWARDED (UDP)
Dec 22 07:51:41.856: default/dnsutils:51283 (ID:32060) <- 169.254.25.10:53 (world) to-endpoint FORWARDED (UDP)
Dec 22 07:51:41.856: 169.254.25.10:53 (world) <> default/dnsutils (ID:32060) pre-xlate-rev TRACED (UDP)
```

When it does not work:

```
❯ kubectl exec -ti pod/$(./k8s-get-cilium-pod.sh dnsutils default) -n kube-system -c cilium-agent \
  -- hubble observe --since 1m --pod default/dnsutils
Dec 22 07:45:18.830: 127.0.0.1:45439 (world) <> default/dnsutils (ID:32060) pre-xlate-rev TRACED (UDP)
Dec 22 07:45:18.830: default/dnsutils:55914 (ID:32060) -> 169.254.25.10:53 (world) to-network FORWARDED (UDP)
Dec 22 07:45:28.849: default/dnsutils:55914 (ID:32060) -> 169.254.25.10:53 (world) to-network FORWARDED (UDP)
```

### Cilium Users Document

- [ ] Are you a user of Cilium? Please add yourself to the [Users doc](https://github.com/cilium/cilium/blob/main/USERS.md)

### Code of Conduct

- [x] I agree to follow this project's Code of Conduct

Hit same issue. Downgrading to 1.16.4 fixes the problem. Nodelocaldns traffic gets broken after upgrade to 1.16.5.

Also seeing this issue. I did not have problems with `bpf.masquerade` set to true and Talos `forwardKubeDNSToHost` also set to true until going from 1.16.4 to 1.16.5. On 1.16.5 all DNS resolution fails and I am seeing traffic destined for the link local address forwarded to the upstream gateway address.

I'd assume this is the same as https://github.com/cilium/cilium/issues/36737#issuecomment-2556565144 - now that the `BPF Host Routing` option is actually effective in your environment, it flushed out incompatibilities in your setup. So setting `bpf.hostLegacyRouting=true` is the right course of action. 

Hi @julianwiedmann, I hit this problem too, I'm running Kubernetes Vanilla with Cilium configured to Native routing, and, I am not being able to understand or debug the coreDNS timeout error like above, What is the purpose of `bpf.hostLegacyRouting=true`? 
I saw the drawback specified on Helm reference, and I am very interested on how to fix that without use a legacy mode.

Also experiencing this issue when running tailscale operator in my cluster to expose services.

Can confirm that `1.16.4` works fine, `1.16.5` is broken, `1.16.5` with `bpf.hostLegacyRouting` set in my helm chart also works

I agree with the responders above. The question in this issue is WHAT needs to be changed in order to continue using the modern BPF routing mode that Cilium brings as a great feature instead of falling back to legacy mode?

PS. This is pretty much a breaking change that leaves the whole k8s cluster in a non-working state. It would be great if Cilium team followed the [SemVer principles](https://semver.org/) a little more carefully.

@pddg Alternatively to `bpf.hostLegacyRouting=true`, have you already tried to configure your node-local-dns setup with Cilium's [Local Redirect Policy](https://docs.cilium.io/en/stable/network/kubernetes/local-redirect-policy/#node-local-dns-cache)? There's a specific [node-local DNS cache example](https://docs.cilium.io/en/stable/network/kubernetes/local-redirect-policy/#node-local-dns-cache) in the docs.

@PhilipSchmid 
Yes, my cluster has already been migrated to use Local Redirect Policy.

However, this is very different from the concept of Node local dns in a normal Kubernetes cluster. I won't know the recommended node local dns configuration in Cilium unless I reach the Local Redirect Policy page. And Local Redirect Policy is disabled by default in the Cilium helm chart.

Is it mandatory/recommended to use Local Redirect Policy when calling node-local services like Node Local DNS in a cluster using Cilium?

> Is it mandatory/recommended to use Local Redirect Policy when calling node-local services like Node Local DNS in a cluster using Cilium?

AFAICT, yes, LRP is required for such use cases, but only if you also enable [eBPF Host-Routing](https://docs.cilium.io/en/latest/operations/performance/tuning/#ebpf-host-routing) (Kernel >= 5.10, Kube-Proxy replacement and eBPF-based masquerading). https://github.com/cilium/cilium/pull/36878 will provide a bit more clarity around BPF host routing alone.

I'm coming from here: https://github.com/siderolabs/talos/issues/10002

I noticed `internal_address_config` being introduced when upgrading helm release v1.16.4 to v1.16.5 as you can see in this snippet [1].

In terms of Talos Linux we might be missing more addresses to be considered internal.

Currently `internal_address_config` is only specifying RFC1918 and loopback.
Should RFC6598 (100.64.0.0/10) and RFC5735 (169.254.0.0/16) be included aswell?


[1] snippet from diff v1.16.4 <> v1.16.5
```diff
517a518,541
>                                       "internal_address_config": {
>                                         "cidr_ranges": [
>                                           {
>                                             "address_prefix": "10.0.0.0",
>                                             "prefix_len": 8
>                                           },
>                                           {
>                                             "address_prefix": "172.16.0.0",
>                                             "prefix_len": 12
>                                           },
>                                           {
>                                             "address_prefix": "192.168.0.0",
>                                             "prefix_len": 16
>                                           },
>                                           {
>                                             "address_prefix": "127.0.0.1",
>                                             "prefix_len": 32
>                                           },
>                                           {
>                                             "address_prefix": "::1",
>                                             "prefix_len": 128
>                                           }
>                                         ]
>                                       },
580a605,628
>                                       "internal_address_config": {
>                                         "cidr_ranges": [
>                                           {
>                                             "address_prefix": "10.0.0.0",
>                                             "prefix_len": 8
>                                           },
>                                           {
>                                             "address_prefix": "172.16.0.0",
>                                             "prefix_len": 12
>                                           },
>                                           {
>                                             "address_prefix": "192.168.0.0",
>                                             "prefix_len": 16
>                                           },
>                                           {
>                                             "address_prefix": "127.0.0.1",
>                                             "prefix_len": 32
>                                           },
>                                           {
>                                             "address_prefix": "::1",
>                                             "prefix_len": 128
>                                           }
>                                         ]
>                                       },
1413c1461
<                         image: "quay.io/cilium/cilium:v1.16.4@sha256:d55ec38938854133e06739b1af237932b9c4dd4e75e9b7b2ca3acc72540a44bf"
---
>                         image: "quay.io/cilium/cilium:v1.16.5@sha256:758ca0793f5995bb938a2fa219dcce63dc0b3fa7fc4ce5cc851125281fb7361d"
```


Any updates? Or is using LRP the only proposed solution? 

It seems that this stopped being an issue somewhere in 1.17, i've recently upgraded beyond 1.16 to the latest 1.17 patch and the issue doesn't occur anymore :) 