Relax /96 requirement for `--node-cidr-mask-size`

## Support
Please relax the `/96` requirement for the `kube-controller-manager`.  I'm unable to modify the configuration after a cluster is brought up with `kubeadm init`, and in my conditions I have `--node-cidr-mask-size=80`, so cilium never comes up correctly.

Thank you.

It might be wise to remove limit at all or enforce at least /64 per node. Enforcing longer prefix would go against best current operation practice, e.g. [RIPE BCOP](https://www.ripe.net/publications/docs/ripe-690)

TL;DR:
- Using a global /64 prefix for the WAN connection is the recommended choice.
- RIR policies permit assignment of a /48 per site, so the possible options when choosing a prefix size to delegate are /48, /52, /56, /60 and /64. However, /64 is not sustainable, it doesn't allow customer subnetting, and it doesn't follow IETF recommendations of “at least” multiple /64s per customer. 
- Recommendations from RFC 7934 (section 6) allow the assignment of a /64 to a single interface.


Yes please.  I don't know any other way to bring up a cluster, and so this is blocking my use of cilium.